 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("images/c6137722f5c091be5752136aee5c24e30710f6c34bc09ed0e56cdc130dff4d0e861805b5a393031216a4034831cd8eac8a4cd05eeccede49abf55f_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1141px;
}

.u-section-1 .u-icon-1 {
  height: 76px;
  width: 76px;
  background-image: none;
  margin: 132px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: normal;
  margin: 17px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  margin: 17px auto 0;
}

.u-section-1 .u-accordion-1 {
  width: 800px;
  margin: 39px auto 43px;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 92px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 92px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 92px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 0;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-4 {
  background-image: none;
  min-height: 92px;
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.875rem;
}

.u-section-1 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-5 {
  background-image: none;
  min-height: 92px;
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.875rem;
}

.u-section-1 .u-accordion-link-6 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-6 {
  background-image: none;
  min-height: 92px;
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.875rem;
}

.u-section-1 .u-accordion-link-7 {
  background-image: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 20px 30px;
}

.u-section-1 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-7 {
  background-image: none;
  min-height: 92px;
  height: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.875rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1133px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 125px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 35px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 45px;
    margin-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1134px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 118px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 37px;
    margin-bottom: 56px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 17px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 48px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-accordion-link-1 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-accordion-pane-1 {
    min-height: 86px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-accordion-link-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-accordion-pane-2 {
    min-height: 86px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-accordion-link-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-accordion-pane-3 {
    min-height: 96px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-accordion-link-4 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-accordion-pane-4 {
    min-height: 86px;
  }

  .u-section-1 .u-accordion-link-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-accordion-pane-5 {
    min-height: 86px;
  }

  .u-section-1 .u-accordion-link-6 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-accordion-pane-6 {
    min-height: 86px;
  }

  .u-section-1 .u-accordion-link-7 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-accordion-pane-7 {
    min-height: 86px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 127px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 16px;
  }

  .u-section-1 .u-accordion-1 {
    margin-top: 35px;
    margin-bottom: 45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-icon-2 {
    height: 8px;
    width: 8px;
  }

  .u-section-1 .u-accordion-pane-1 {
    min-height: 89px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 1.5rem;
  }

  .u-section-1 .u-icon-3 {
    height: 8px;
    width: 8px;
  }

  .u-section-1 .u-accordion-pane-2 {
    min-height: 89px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    font-size: 1.5rem;
  }

  .u-section-1 .u-icon-4 {
    height: 8px;
    width: 8px;
  }

  .u-section-1 .u-accordion-pane-3 {
    min-height: 89px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-icon-5 {
    height: 8px;
    width: 8px;
  }

  .u-section-1 .u-accordion-pane-4 {
    min-height: 89px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-1 .u-icon-6 {
    height: 8px;
    width: 8px;
  }

  .u-section-1 .u-accordion-pane-5 {
    min-height: 89px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-1 .u-icon-7 {
    height: 8px;
    width: 8px;
  }

  .u-section-1 .u-accordion-pane-6 {
    min-height: 89px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-icon-8 {
    height: 8px;
    width: 8px;
  }

  .u-section-1 .u-accordion-pane-7 {
    min-height: 89px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }
}