 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/da4e6c2721c598c860ed1087a307dc1c1406ab3f65ae54dd7cb7bebea200939a70f75b98e32e13ed06c63a2d70672ffba353e9174a229b041515ea_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 218px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 314px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 120px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}